<IfModule mod_rewrite.c>
   RewriteEngine On

   # Autoriser l'accès direct au dossier storage
   RewriteCond %{REQUEST_URI} ^/storage/
   RewriteCond %{DOCUMENT_ROOT}/public/%{REQUEST_URI} -f
   RewriteRule ^storage/(.*)$ public/storage/$1 [L]

   # Rediriger toutes les autres requêtes vers public
   RewriteRule ^(.*)$ /public/$1 [L]
</IfModule>
